<section>
  <nz-row [nzGutter]="[10,10]">
    <nz-col nzSpan="3">
      <nz-select [nzPlaceHolder]="'Контроллер'" [style.width.%]="100" [(ngModel)]="selectedMcu" (ngModelChange)="getSensors($event)">
        <nz-option *ngFor="let mcu of mcuList" [nzValue]="mcu.id" [nzLabel]="mcu.name"></nz-option>
      </nz-select>
    </nz-col>
    <nz-col>
      <nz-select
        nzMode="multiple"
        [nzMaxTagCount]="4"
        [nzPlaceHolder]="'Сенсоры'"
        [style.min-width.px]="240"
        [(ngModel)]="listOfSelectedSensors"
        [disabled]="!selectedMcu">
        <nz-option
          *ngFor="let sensor of sensors"
          [nzValue]="sensor.id"
          [nzLabel]="sensor.sensor.name + ', Расположен: ' + sensor.place.name"
        >
        </nz-option>
      </nz-select>
    </nz-col>
    <nz-col nzSpan="3">
      <nz-select [nzPlaceHolder]="'Время'" [style.width.%]="100" [(ngModel)]="selectedTimeSegment" [disabled]="!listOfSelectedSensors.length">
        <nz-option
          *ngFor="let segment of timeSegments"
          [nzValue]="segment"
          [nzLabel]="'Последние ' + segment + ' часов'">
        </nz-option>
      </nz-select>
    </nz-col>
    <nz-col>
      <nz-date-picker
        nzAllowClear="false"
        nzShowTime
        nzFormat="yyyy-MM-dd HH:mm:ss"
        ngModel
        [(ngModel)]="selectedDate"
      ></nz-date-picker>
    </nz-col>
    <nz-col>
      <button nz-button nzType="primary" [nzLoading]="loading" (click)="submit()" [disabled]="!(selectedTimeSegment && listOfSelectedSensors.length)">Построить график</button>
    </nz-col>
    <nz-col>
      <button nz-button nzType="primary" (click)="clearFilters()">Сбросить</button>
    </nz-col>
  </nz-row>
</section>

<section>
  <div style="text-align:center">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [stroke]="chartOptions.stroke"
      [noData]="chartOptions.noData"
      [yaxis]="chartOptions.yaxis"
    ></apx-chart>
  </div>

</section>
