<nz-layout>
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item routerLink="/main" >
      Главная
    </li>
    <li nz-menu-item routerLink="/charts">
      <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
      Графики
    </li>
    <li nz-menu-item routerLink="/settings">
      <i nz-icon nzType="setting" nzTheme="outline"></i>
      Настройки
    </li>
    <li nz-menu-item routerLink="/data">
      <i nz-icon nzType="database" nzTheme="outline"></i>
      Данные
    </li>
    <li nz-menu-item routerLink="/phppgAdmin">
      <i nz-icon nzType="console-sql" nzTheme="outline"></i>
      phpPgAdmin
    </li>
  </ul>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
